/Main.class
/Pair.class
/Priority.class
/Singles.class
/Singles2.class
/Singles3.class
/Singles5.class
/StableMatching.class
/StableMatchingInterface.class
/StableMatchingTest$1.class
/StableMatchingTest.class
